/* all the navbar related styles are adapted from https://youtu.be/GdrbE-s5DgQ */

/* universal styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

/* defined colors  - suggested method by chatgpt */
:root {
  --color-light: #0a21c0;
  --color2-light: #141619;
  --color3-light: #f0f1fa;
  --light-hover: #0a21c0;

  --color-dark: #f0f1fa;
  --color2-dark: #ffffff;
  --color3-dark: #141619;
  --dark-hover: #B3B4BD;
}

/* body styles*/

body.light-mode {
  --color: var(--color-light);
  --color2: var(--color2-light);
  --color3: var(--color3-light);
}

body.dark-mode {
  --color: var(--color-dark);
  --color2: var(--color2-dark);
  --color3: var(--color3-dark);
}

body.light-mode {
  background-color: var(--color3-light);
  color: var(--color2-light);
}

body.dark-mode {
  background-color: #2c2e3a;
  color: var(--color-dark);
}

/* navbar styles: */

/* link styles */

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
}

.links a {
  font-size: large;
  font-weight: 500;
}
/* 
.links a:hover {
  color: var(--color);
} */

/* header styles */

header {
  position: relative;
  padding: 10px 2rem;
  /* background-color: rgb(235, 158, 158); */
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color2-dark);
}

body.light-mode .navbar .logo a {
  color: var(--color2-light); 
}

body.light-mode .navbar .links a:hover {
  color: var(--light-hover);
}
body.dark-mode .navbar .links a:hover {
  color: var(--dark-hover);
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links a {
  color: var(--color2-dark); /* Default color for dark mode */
}

body.light-mode .navbar .links a {
  color: var(--color2-light); /* Color for light mode */
}

.navbar .toggle-burger {
  color: #141619;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Responsive navbar styles adapted from https://www.youtube.com/watch?v=GdrbE-s5DgQ&t=1s */

@media (max-width: 992px) {
  .navbar .links,
  .navbar .btn,
  .navbar .switch {
    display: none;
  }

  .navbar .toggle-burger {
    display: block;
  }
}

/* toggle slider styles from https://uiverse.io/alexruix/splendid-liger-23 */
/* From Uiverse.io by alexruix */
/* The switch - the box around the slider */
/* Toggle switch styles */
.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  --background: skyblue;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;

  box-shadow: inset 15px -4px 0px 15px #fff000;
  background: var(--background);
  transition: 0.5s;
}

input:checked + .slider {
  background-color: #141619;
}

input:checked + .slider:before {
  transform: translateX(100%);
  background-color: #141619;
  box-shadow: inset 8px -4px 0px 0px #fff000;
}
