<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/static/error.css" />
  </head>
  <body>
    <div id="errormsg">
        <h1>404</h1>
      <h1>OOPS!</h1>
      <h3>Got Lost?</h3>
      <p><a href="/">Go back to home</a></p>
    </div>
    <div id="errorbanner">
      <img src="/static/error-cat.jpg" alt="sad cat for error situation" />
    </div>
  </body>
</html>
