{% extends 'layout.html' %} {% block title %} Generate Password - CatVault {%
endblock %} {% block main %}

<h2 id="heading-text">Instantly generate secure passwords from CatVault!</h2>
<form id="generator-form" action="/generate" method="post">
  <div id="output-box">
    <input
      type="text"
      id="output"
      name="output"
      placeholder="Click Generate to get your password!"
      spellcheck="false"
      autocomplete="off"
      readonly
    />
    <button type="submit" id="generate">Generate</button>
    <button type="button" id="copy" style="position: absolute;">
      <i class="fas fa-copy"></i>
    </button>
  </div>
  <h3>Fine Tune your Passwords</h3>
  <div id="range-wrapper">
    <p>Select Password Length</p>
    <div class="range-box">
      <input type="range" min="0" max="100" value="0" onmousemove="rangeSlider(this.value)" name="rangevalue"/>
      <span id="range-val" style="color: black" ">0</span>
    </div>
  </div>
  <div id="checkbox-wrapper">
    <!-- /* From Uiverse.io by Gautammsharma */  -->
    <label class="material-checkbox">
      <input type="checkbox" name="uppercase" />
      <span class="checkmark"></span>
      Uppercase
    </label>
    <label class="material-checkbox">
      <input type="checkbox" name="lowercase"/>
      <span class="checkmark"></span>
      Lowercase
    </label>
    <label class="material-checkbox">
      <input type="checkbox" name="numbers"/>
      <span class="checkmark"></span>
      Numbers
    </label>
    <label class="material-checkbox">
      <input type="checkbox" name="symbols" />
      <span class="checkmark"></span>
      Symbols
    </label>
  </div>
</form>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const copyButton = document.getElementById('copy');
    const output = document.getElementById('output');
    
    if (copyButton && output) {
      copyButton.addEventListener('click', function() {
        output.select();
        document.execCommand('copy');
        alert('Password copied to clipboard!');
      });
    }
  });
</script>
{% endblock %}
