{% extends 'layout.html' %} {% block title %} Home - CatVault {% endblock %} {%
block main %}

<div class="container">
  <img src="/static/cat1-hero.jpg" alt="Picture of Cute Cat" />
  <div class="herotext">
    <h1>Experience Whisker Tight Security</h1>
    <h2>We are always guarding your valuable passwords so you don't have to 😸</h2>
    <p>Password Issues are a thing of the past! Try CatVault Now and be in Peace!</p>

    <!-- /* From Uiverse.io by adeladel522 */ -->
  </div>
  <form action="/login" method="get">
    <div class="container-btn">
      <button class="getstarted" type="submit">
        Get Started With CatVault
        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
          <path
            clip-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </form>
</div>
{% endblock %}
